<div class="row">
  <section class="post-content col-xs-12">
    <dl>
      <dt>Birthday:</dt>
      <dd><%= user.profile.birthday %></dd>
      <dt>College:</dt>
      <dd><%= user.profile.college %></dd>
      <dt>Hometown:</dt>
      <dd><%= user.profile.hometown %></dd>
      <dt>Currently Lives:</dt>
      <dd><%= user.profile.currently_lives %></dd>
    </dl>
  </section>
</div>
