<body>
  <%= render partial: 'shared/navbar' %>
  <main class="container">
    <%= render partial: 'shared/current_user_navbar' %>
    <div class="row">
      <section id="about" class="post col-xs-12">
        <div class="row">
          <header class="post-header col-xs-12">
            <h2>Photos</h2>
          </header>
        </div>
        <% if @photos.size > 0 %>
          <div class="col-md-6">
            <div class="profile profile-bordered">
              <div class="profile-center">
                <div class="profile-info pull-left">
                  <div class="row">
                    <% @photos.each do |p1, p2, p3| %>
                      <%= render partial: "shared/photo_row", locals: { p1: p1, p2: p2, p3: p3 } %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </section>
      <p>Please upload some photos!</p>
      <button type="button" name="button">
        <%= link_to "Upload a Photo", new_photo_path %>
      </button>
    </div>
  </main>
</body>
